[submodule "cs-insights-backend"]
	path = cs-insights-backend
	url = https://github.com/gipplab/cs-insights-backend
	branch = main
[submodule "cs-insights-frontend"]
	path = cs-insights-frontend
	url = https://github.com/gipplab/cs-insights-frontend
	branch = main
[submodule "cs-insights-crawler"]
	path = cs-insights-crawler
	url = https://github.com/gipplab/cs-insights-crawler
	branch = main
[submodule "cs-insights-prediction-endpoint"]
	path = cs-insights-prediction-endpoint
	url = https://github.com/gipplab/cs-insights-prediction-endpoint
	branch = main
[submodule "cs-insights-uptime"]
	path = cs-insights-uptime
	url = https://github.com/gipplab/cs-insights-uptime
	branch = main
